h1 {
    color: rgb(157, 153, 207);
}

#Travel {
    background-color: White;
}

h2 {
    color: rgb(61, 85, 204);
}

h3 {
    color: rgb(87, 89, 18);
}

h4 {
    color: rgb(92, 143, 219);
}

h5 {
    color: rgb(81, 84, 133);
}

body {
    background-color: rgb(210, 250, 250);
}